:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333;

  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app{
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 20%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%);
  border-radius: 0;
}
